body {
  color: #f2f2f2;
  background-color: #393e46;
  font-family:Georgia, 'Times New Roman', Times, monospace
}

pre {
  text-align: left;
  width: 400px;
  height: 200px;
  overflow: scroll;
  word-wrap: break-word;
}



button {
  background-color: #f96d00;
  border: 10px;
  border-color: #222831;
  color: #f2f2f2
}

button:hover {
  background-color: #222831;
  color: #f96d00;
}

ul {
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-top: hidden;
  border-bottom: hidden;
  padding: 15px 135px 20px 160px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  max-width: fit-content;
  
}

#reset {
  height: 20px;
  width: auto;
}

h3#introduction {
  margin-bottom: 0px;
}